<section class="feature container">
    <div class="feature__image">
      <img src="assets/images/i-mac-1.png" alt="i mac image">
    </div>
    <div class="feature__detail">
      <h2 class="feature__title">خدمات تپسی برای کسب و کار ها</h2>
      <p class="feature__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
        harum sit doloremque aliquam corrupti libero voluptatum nostrum
        eveniet explicabo repellendus sequi repellat, odit laborum tempore
        ducimus aut, eaque incidunt nobis?
      </p>
      <button class="btn btn--primary">ورود و ثبت نام سازمانی</button>
    </div>
  </section>